{% extends 'base.html.twig' %}

{% block body %}
    <h3>Gebruikers</h3>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>E-mail</th>
                <th>Username</th>
                <th>Password</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('register_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{% if user.roles %}{{ user.roles|join(', ') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('register_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('register_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('register_new') }}">Nieuwe gebruiker</a>
        </li>
    </ul>
{% endblock %}
