{% extends 'base.html.twig' %}

{% block body %}
    <h3>Lid bewerken</h3>

          <a href="{{ path('lidBewerken_index') }}">Terug naar de lijst</a>

    <table>
        <tr><td>
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input class="button" type="submit" value="Bewerken" />
            {{ form_end(edit_form) }}
        
            {{ form_start(delete_form) }}
                <input class="button" type="submit" value="Verwijderen" />
            {{ form_end(delete_form) }}
        </tr>
    </table>
{% endblock %}
